#section-a {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.navbar-expand-lg {
    background-color: #262727;
}


.brand-title {
   font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;

}



.main-title {
    font-family: 'Poppins', sans-serif;
    height: 48rem;
}

.title-1 {
    padding-top: 10%;
}

.p-1 {
    font-family: 'Open Sans', sans-serif;
}

.post {
    background-image: linear-gradient( rgba(59, 53, 141, 0.5), rgba(47, 90, 170, 0.5) ), url("../img/jumb-img.jpg");
    background-size: cover;
    background-position: center;

    padding: 3% 5%;

}

.h3 {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

#section-2 {
    padding-top: 30px;
}

.section-3 {
    padding: 5% 5%;

}

.section-3 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.section-3 hr {
    height: 1px;
    width: 150px;
}


.section-3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.icons {
    padding: 5% 5%;
}

.icons h4 {
    font-size: 1.2rem;
}

.icons p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;

}

.md-icons {
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px 15px;
}


.section-4 {
    background-color: #F7F9FB;
    padding: 5% 5%;

}

.section-4 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.section-4 hr {
    height: 1px;
    width: 150px;
}

.section-4 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;

}

.team-member {
    padding: 5% 5%;
}

.team-member h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.team-member p {
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;

}

.col-lg-3 {
    margin: auto;
}

.col-md-6 {
    margin-bottom: 50px;
}

.col-sm-12 {
    margin-bottom: 50px;
}


.section-5 {
    padding: 5% 5%;

}

.section-5 h1 {
    font-family: 'Poppins', sans-serif;
}

.section-5 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.section-5 p {
    font-family: 'Open Sans', sans-serif;
}

.tabs {
    padding: 5% 5%;
}

.tabs p {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

.prog-bar h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    
}

.media-body h4 {
    font-family: 'Poppins', sans-serif;   
    font-size: 1rem;
}

.media-body p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.p-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    color: red;
}

.section-6 {
    background-color: #F7F9FB;
    padding: 5% 5%;
}

.section-6 h1 {
    font-family: 'Poppins', sans-serif;
}

.section-6 p {
    font-family: 'Open Sans', sans-serif;
}

.pricing {
    padding: 5% 5%;
}

.pricing-span {
    font-size: 2.5rem;
}

.card-body p {
    padding-top: 10px;
    line-height: 2;
}

.section-7 {

    padding: 10% 5%;
}

.section-7 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.section-7 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.section-7 h4 {
    font-size: 1.2rem;
}


.post-2 {
    background-image: linear-gradient( rgba(59, 53, 141, 0.5), rgba(47, 90, 170, 0.5) ), url("../img/jumb-img-2.jpg");
    background-size: cover;
    background-position: center;

    padding: 3% 5%;
}

.post-2 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

.footer {
    background-color: #F7F9FB;
    padding: 5% 5%;
}

.footer-copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.footer-copyright h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    }